{% extends "base.html" %} 

{% block head %}
  <title> New question </title>
{% endblock %}

{% block content %}

<p class="h1">New question</p>

<form>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputTitle">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">Text</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputText"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTags" class="col-sm-2 col-form-label">Tags</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputTags">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Ask!</button>
    
    </div>
    
  </div>
</form>


  {%endblock%}