
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">

    {% block head %}
        
    {% endblock head %}
   
   </head>
  <body>
    

    {% block navbar %}
      {% include 'includes/navbar.html' %}
    {% endblock navbar %}

    <main role="main" class="container">
      <div class="row mt-4">
        <div class="col-md-9">
                
          {% block content %}
        
          {% endblock content %}
        </div>
        <div class="col-md-3">
            {% include "includes/sidebar.html"%}
        </div>
      </div>
    </main>

    

    <footer class="container footer">
      <p>AskLarin 2021</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
      $(".navbar-toggler").click(()=>{$('.collapse').toggle()})
      
    </script>
  </body>
</html>
