{% extends "base.html" %} 
{% block head %}
<title> Questions </title>
{% endblock %}
{% block content %}

<p class="h2"> 
  {{category}} questions
  <a href="{%url 'new' %}" class="btn-link float-right p-1">New</a>
  <a href="{%url 'hot' %}" class="btn-link float-right p-1">Hot</a>
</p>


<div class="questions">
  {% for i in questions %}

    {% include 'includes/question_preview.html' with question=i %}
  {% endfor %}
</div>

  {% include 'includes/paginator.html'%}

       

{%endblock%}