{% extends "base.html" %} 

{% block head %}
  <title> {{question.title}} </title>
{% endblock %}

{% block content %}


{% include 'includes/question_view.html' with question=question %}

<div class="p-4">
  <p class="h4" id="answers"> Answers: </p>
  {% for i in answers%}
  
    {% include "includes/answer.html" with answer=i %}
  {% endfor %}
</div>
{% include 'includes/paginator.html' %}


<form action="" class="form mb-4">

  <div class="form-group">
    <textarea placeholder="Enter your answer here.." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-primary">Answer</button>

</form>






{%endblock%}