{% extends "base.html" %} 

{% block head %}
  <title> Settings </title>
{% endblock %}

{% block content %}

<p class="h1">Settings</p>

<form>
  <div class="form-group row">
    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLogin" value="login">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" value="denixed@ya.ru">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNickname" class="col-sm-2 col-form-label">NickName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNickname" value="volodyalarin">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
    <div class="col-sm-10">
      <img class="avatar" src="https://sun1-20.userapi.com/impg/G-30lbgztVwxs-n3H8s0d-hNlWYKJ4W3ydyidQ/5n-kHuFj8zw.jpg?size=50x0&quality=88&crop=541,740,396,396&sign=179861e377a5314de6abdaf8dad5669a&ava=1" alt="">
      <input type="file" accept="image/*" class="form-control" id="inputAvatar">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    
    </div>
    
  </div>
</form>


    {%endblock%}