{% extends "base.html" %} 

{% block head %}
  <title> Sign in </title>
{% endblock %}


{% block content %}

<p class="h1">Sign in</p>

<div class="alert alert-warning">
  Incorrect login or password 
</div>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    
      <a href="{%url 'signup'%}" class="btn btn-link">create new account</a>

    </div>
    
  </div>
</form>


{%endblock%}