{% block navbar %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home'%}">AskLarin</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-2">
        <a class="btn btn-success my-2 my-sm-0" href="{% url 'ask'%}"> ASK! </a>
      </li>
      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </li>
    </ul>
    <div>
      <div class="row">
        <div class="col col-auto pr-0">
          <img src="https://sun1-20.userapi.com/impg/G-30lbgztVwxs-n3H8s0d-hNlWYKJ4W3ydyidQ/5n-kHuFj8zw.jpg?size=50x0&quality=88&crop=541,740,396,396&sign=179861e377a5314de6abdaf8dad5669a&ava=1" alt="">
        </div>
        <div class="col col-auto">
          <div class="text-white text-center">Vladimir Larin</div>
          <div class="btn-group">
            <a href="{% url 'settings'%}" class="btn btn-link btn-sm">Settings</a>
            <a href="#" class="btn btn-link btn-sm">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group ml-2">
      <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'signin'%}">
        Sign in
      </a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'signup'%}">
        Sign up
      </a>
    </div>
  </div>
</nav>

{% endblock navbar %}
