{% if pages %}
<ul class="pagination">
    
  {% for i in pages %}
    
  {% if i == page %}
    <li class="page-item active">
      <span class="page-link">{{ i }} </span>
    </li>
  {%else%}
    <li class="page-item">
      <a class="page-link" href="?page={{i}}"> {{ i }} </a>
    </li>
  {%endif%}

  {% endfor %}

</ul>

{%endif%}