<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <div>
          {% if question.author.photo %}      
              <img
              
              src="{{question.author.photo}}"
              alt=""
              class="img-thumbnail"
              class="avatar"
            />
          {% else %}
          <img
                  
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.OesLvyzDO6AvU_hYUAT4IAHaHa%26pid%3DApi&f=1"
              alt=""
              class="img-thumbnail"
              class="avatar"
              width=100
            />

          {% endif %}
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"
              />
            </svg>
          </button>
          <span class="btn disabled"> {{question.count_score}} </span>
          <button class="btn btn-secondary">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-up"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="col">
        <a class="card-title h5" href="{% url 'question' question.id %}"
          >{{question.title}}
        </a>
        <span> <b>Author:</b> {{question.author}}</span>
        <span> <b>Date:</b> {{question.date_create}}</span>
        <p class="card-text">{{question.body}}</p>
        <div class="row width justify-content-between">
          <div class="col-auto">
            tags: {% for tag in question.tags.all %}
            <a href="{%url 'tag' tag.name%}" class="btn btn-outline-secondary"
              >{{tag.name}}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
