<div class="sticky pt-4">

    <p class="h4">Tags:</p>
    <div class="tags">
      {%for tag in tags%}
      <a href="{%url 'tag' tag.name%}" class="btn btn-outline-secondary">{{tag.name}}</a>
      {%endfor%}
    </div>

    <p class="h4 mt-3">Popular persons:</p>
    <div class="persons">
      {%for user in users%}
        <a href="{%url 'user' user.id%}" class="btn-link">{{user.username}}</a> <br>
      {%endfor%}
    </div>
</div>